body{
    padding: 0;
    margin: 0;
    /* background-color: black;  */
}
.grid{
   width: 80%;
   margin: auto;

}
 /* page 1 starts here */

 @media screen and (max-width:500px) {

   .nav .grid .main .lists{
    display: block;
   }
   .nav .grid .main .lists p{ 
    padding: 0;
   } 
 }

.nav

{
background-color: black;
   
}

.main .logo{
    margin-top: 20px;
}
.main{
    background-color: black;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 0px 15px;
}

.main .lists{
    display: flex;  
}

.main .lists a {
    text-decoration: none;
    color: white;
}

.main .lists a:hover{
    text-decoration: none;
    color: #1ED760;
}

.main .lists p{
    font-family: "SpotifyMixUI", CircularSp, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 28px 17px;
    font-weight: 700;
}

/* center content */

.center{
    padding: 10px 0px 10px 0px;
    height: auto;
    width: 100%;
    background: #121212 no-repeat url(../img/desktop-album-evergreen-1x.png);
    /* background-attachment: fixed; */
    background-position: 100%;
}


.center .grid .texts h1{
    color: white;
    font-size: 48px;
    font-family: Helvetica,Arial, sans-serif;
    width: 100%;
  
}

.center .grid .texts h2{
    
    color: white;
    font-size: 16px;
    font-family: Helvetica,Arial, sans-serif;
    text-shadow: rgba(0, 0, 0, 0.65) 0px 4px 14px;
    margin-top: 15px;
}


.center .grid .texts span{
    font-family: Helvetica,Arial, sans-serif;
    color: white;
   padding: 4px 8px;
 
}

.center .buttons  {
    margin: 35px 0px 28px;
}

.center .buttons  .one button{
padding: 15px 40px;
background-color: #FFD2D7;
border-radius: 22px;
border: 0;
cursor: pointer;
font-weight: 600;
}

.center .buttons  .one button:hover{
    transform: scale(1.1);
    background-color: white;
}


.center .buttons  .two button{
    font-family: Helvetica,Arial, sans-serif;
    padding: 15px 40px;
    color: white;
    background-color: black;
    border-radius: 24px;
    border-color: white;
    cursor: pointer;
    position: relative;
    left: 10px;
 }


 .center .buttons  .two button:hover{
    transform: scale(1.1);
 }

.btn-btm{
    font-size: 9px;
    font-family: Helvetica,Arial, sans-serif;
    color: white;
}

.btn-btm a{
   
    font-family: Helvetica,Arial, sans-serif;
    color: white;
}

/* page 2 starts here */

.gridoutside{
    background-color: #121212 ;
    color: white;

}

.gridinside{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px 0px;
    font-family: Helvetica,Arial, sans-serif;
}

.gridinside h1{
    font-size: 40px;
}

.gridinside h2{
    font-size: 24px;
    font-weight: 600;
}
table{
    border: 0;
}
tr th{
    padding: 10px 10px 10px 10px;
}

tr td{
    padding: 25px;
}

svg{
    mix-blend-mode:darken;
}

table i{ 
    font-size: 30px;
}

table .tr{
    border-bottom:solid white 5px;
    text-decoration: dotted;
}

/* page 3 */

.Affordable{
    background-color: #121212 ;
    padding: 10px 0px 10px 0px;
}

.headings{
    background-color: #121212 ;
    color: white;
    text-align: center;  
}

.headings h1{
    font-size: 32px;
    font-family: Helvetica,Arial, sans-serif;
} 

.headings h2{
    font-size: 16px;
    font-family: Helvetica,Arial, sans-serif;
} 

.Affordable{
    padding: 35px 24px 10px;
}

.Affordable .imgs{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.Affordable .headings h2{
    margin: 16px auto 32px;
}

.Affordable .imgs .img{
   background-color: white;
   width: 30px;
   height: 20px;
}

.imgbtm{
    margin: 48px auto;
    padding: 0px 32px;
    display: flex;
    justify-content: center;
  color: white;
  font-family: Helvetica,Arial, sans-serif;

}

.imgbtm .h1 {
    padding-top: 35px;
}

.imgbtm .li li{
    list-style: none;
}

.imgbtm .li i{
    list-style: none;
    padding: 0px 10px 0px 30px;
}

/* ----------------- page 4 -------------------*/

.cards{
   
    color: white        ;
    background-color: #121212 ;
    padding: 0px 0px 50px 0px ;
  

}

.cards .top{
    justify-content: center;
    display: flex;
    /* display: grid; */
    /* grid-template-columns:1fr 1fr 1fr; */
    flex-wrap: wrap;
    gap: 30px;
}


/* ------------------ Mini Start --------------------------- */

.cards .Mini{
    width: 300px;
    background-color:#242424;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    font-family: Helvetica,Arial, sans-serif;
}

.cards .Mini:hover{
    transform: scale(1.02);
}


.cards .Mini .one{
    display: flex;
    align-items: center;
    gap: 9px;
    width: fit-content;   
}

.cards .Mini h1{
    color: #CFF56A;
    width: fit-content;
}

.cards .Mini  li{
    padding: 5px;
    width: fit-content;
}

.cards .Mini  p{
    padding: 5px;
    width: fit-content;
}

.cards .Mini .one-a{
   padding-top: 40px;
    
}

.cards .Mini .four-a{
   padding-bottom: 40px;
}

.cards .Mini button{

border: none;
background-color: #CFF56A;
font-family: Helvetica,Arial, sans-serif;
font-size: 15px;
padding:10px 60px;
border-radius: 25px;
font-weight: 750;

}

.cards .Mini button:hover{
    transform: scale(1.02);
}

.cards .button-bottom{
    padding-top: 40px;
    width: 100%; 
}
.cards .Mini .pesuma { 
 display: flex;
 justify-content: center;
 font-size: 12px;
}

.cards .Mini .pesuma a{
    color: #A7A7A7;
}

/* ------------------ Mini end --------------------------- */



/* ------------------ Individual Start --------------------------- */

.cards .Individual{
    width: 300px;
    background-color:#242424;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    font-family: Helvetica,Arial, sans-serif;
    
}

.cards .Individual:hover{
    transform: scale(1.02);
}

.cards .Individual .first-li{
    background-color: #FFD2D7;
    width: fit-content;
    padding: 5px 20px 5px 20px;
    color: black;
    font-family: Helvetica,Arial, sans-serif;
    font-weight: 750;
    position: relative;
    left: -20px;
    bottom: 9px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 15px;
    list-style: none;
}

.cards .Individual .sec-li{
    padding: 10px 0px 10px 0px ;
}

.cards .Individual .sec-li-i{
 padding: 10px 0px 25px 0px;
}

.cards .Individual .one{
    display: flex;
    gap: 9px;
    padding: 20px 0px;
}

.cards .Individual h1{
margin: 0;
color: #FFD2D7;
}

.cards .Individual .Individual-one {
    padding-top: 20px;
    margin: 0;
}

.cards .Individual .Individual-two {
    padding-bottom: 20px;
    padding-top: 5px;
    margin: 0;
    font-size: 14px;
    color: #A7A7A7;
}

.cards .Individual .Individual-p{
    font-size: 12px;
    color: #A7A7A7;
}

.Individual button{
    background-color: #FFD2D7;
    border: none;
    font-family: Helvetica,Arial, sans-serif;
    font-size: 15px;
    padding:10px 60px;
    border-radius: 25px;
    font-weight: 750;
    }

    .Individual button:hover{
        transform: scale(1.02);
    }

.cards .Individual .Individual-p a{   
    color: #A7A7A7;
}

/* ----------------- Individual End -------------------------- */



/* ----------------- Family Strat -------------------------- */

.cards .Family{
    width: 300px;
    background-color:#242424;
    padding: 20px 23px 20px 23px;
    border-radius: 10px;
}

.cards .Family:hover{
    transform: scale(1.02);
}

.cards .Family .family-first-li{
    background-color: #A5BBD1;
    list-style: none;
    width: fit-content;
    padding: 5px 20px 5px 20px;
    color: black;
    font-family: Helvetica,Arial, sans-serif;
    font-weight: 750;
    position: relative;
    left: -22px;
    bottom:20px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 15px;
}

.Family .one{
    display: flex;
    gap: 9px;
    align-items: center;
    font-family: Helvetica,Arial, sans-serif;
}

.Family h1{
    color: #A5BBD1;
    font-family: Helvetica,Arial, sans-serif;
    margin: 0;
}

.Family p{
    font-family: Helvetica,Arial, sans-serif;
}

.Family .family-first-p{
    padding: 20px 0px 0px 0px;
    margin: 0;
}

.Family .family-first-pp{
    margin: 0;
    font-size: 14px;
    color: #A7A7A7;
    padding: 5px 0px 10px 0px
}

.Family li{
    padding: 5px;
    font-family: Helvetica,Arial, sans-serif;
    font-size: 15px;
}

.Family button{
    background-color: #A5BBD1;
    border: none;
    font-family: Helvetica,Arial, sans-serif;
    font-size: 15px;
    padding:10px 60px;
    border-radius: 25px;
    font-weight: 750;
}

.Family button:hover{
    transform: scale(1.02);
}


.Family li{
    padding: 5px;
}

.Family .li-i{
    padding: 5px 0px 35px 5px;
}

.Family .family-first-ppp{
font-size: 11px;
color: #A7A7A7;
}

.Family .family-first-ppp a{
    color: #A7A7A7;
    }


/* ----------------- Family end -------------------------- */

/* ----------------- Duo Start -------------------------- */


.cards .Duo{
    width: 300px;
    background-color:#242424;
    padding: 20px 23px 20px 23px;
    border-radius: 10px;
}

.cards .Duo:hover{
    transform: scale(1.02);
}

.cards .Duo .family-first-li{
    background-color: #FFC862;
    list-style: none;
    width: fit-content;
    padding: 5px 20px 5px 20px;
    color: black;
    font-family: Helvetica,Arial, sans-serif;
    font-weight: 750;
    position: relative;
    left: -22px;
    bottom: 20px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 15px;
}

.Duo .one{
    display: flex;
    gap: 9px;
    align-items: center;
    font-family: Helvetica,Arial, sans-serif;
}

.Duo h1{
    color: #FFC862;
    font-family: Helvetica,Arial, sans-serif;
    margin: 0;
}

.Duo p{
    font-family: Helvetica,Arial, sans-serif;
}


.Duo .family-first-p{
    padding: 20px 0px 0px 0px;
    margin: 0;
}

.Duo .family-first-pp{
    margin: 0;
    font-size: 14px;
    color: #A7A7A7;
    padding: 5px 0px 40px 0px
}

.Duo li{
    padding: 5px;
    font-family: Helvetica,Arial, sans-serif;
    font-size: 15px;
}


.Duo button{
    background-color: #FFC862;
    border: none;
    font-family: Helvetica,Arial, sans-serif;
    font-size: 15px;
    padding:10px 60px;
    border-radius: 25px;
    font-weight: 750;
}

.Duo button:hover{
    transform: scale(1.02);
}

.Duo li{
    padding: 5px;
}

.Duo .li-i{
    padding: 5px 0px 30px 5px;
}

.Duo .family-first-ppp{
    font-size: 11px;
    color: #A7A7A7;
}

.Duo .family-first-ppp a{
    color: #A7A7A7;
    }
    

/* ----------------- Duo end -------------------------- */

/* ----------------- Student Start -------------------------- */

.cards .Student
{
    width: 300px;
    background-color:#242424;
    padding: 20px 23px 15px 23px;
    border-radius: 10px;
}

.cards .Student:hover{
    transform: scale(1.02);
 
}


.cards .Student .family-first-li{
    background-color: #C4B1D4;
    list-style: none;
    width: fit-content;
    padding: 5px 20px 5px 20px;
    color: black;
    font-family: Helvetica,Arial, sans-serif;
    font-weight: 750;
    position: relative;
    left: -22px;
    bottom: 20px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 15px;
}

.Student .one{
    display: flex;
    gap: 9px;
    align-items: center;
    font-family: Helvetica,Arial, sans-serif;
}

.Student h1{
    color: #C4B1D4;
    font-family: Helvetica,Arial, sans-serif;
    margin: 0;
}

.Student p{
    font-family: Helvetica,Arial, sans-serif;
}


.Student .family-first-p{
    padding: 20px 0px 0px 0px;
    margin: 0;
}

.Student .family-first-pp{
    margin: 0;
    font-size: 14px;
    color: #A7A7A7;
    padding: 5px 0px 25px 0px
}

.Student li{
    padding: 5px;
    font-family: Helvetica,Arial, sans-serif;
    font-size: 15px;
}


.Student button{
    background-color: #C4B1D4;
    border: none;
    font-family: Helvetica,Arial, sans-serif;
    font-size: 15px;
    padding:10px 60px;
    border-radius: 25px;
    font-weight: 750;
}

.Student button:hover{
    transform: scale(1.02);
}

.Student li{
    padding: 5px;
}

.Student .li-i{
    padding: 5px 0px 20px 5px;
}

.Student .family-first-ppp{
    font-size: 11px;
    color: #A7A7A7;
}

.Student .family-first-ppp a{
    color: #A7A7A7;
    
}
    

/* ----------------- Student end -------------------------- */

.cards .Individual .one p{
margin: 0;
padding: 0px 0px 0px 5px;
}

/*------------------------ footer start ---------------------- */
footer{
    background-color:#000000;
    color: white;
    font-family: Helvetica,Arial, sans-serif;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
}

.footer .footer-two a{
 color: white;
 text-decoration: none;
 font-weight: 750;
}

.footer .footer-two a:hover{
    color:#1ED760;
    text-decoration: none;
}


.footer .footer-three .three a{
    color: white;
    text-decoration: none;
    font-weight: 750;
   }
   
   .footer .footer-three .three a:hover{
       color:#1ED760;
       text-decoration: none;
   }

   .footer .footer-four .four a{
    color: white;
    text-decoration: none;
    font-weight: 750;
   }
   
   .footer .footer-four .four a:hover{
       color:#1ED760;
       text-decoration: none;
   }

   .footer .footer-five .five a{
    color: white;
    text-decoration: none;
    font-weight: 750;
   }
   
   .footer .footer-five .five a:hover{
       color:#1ED760;
       text-decoration: none;
   }

   .footer .footer-six {
    color: white;
    font-size: 20px;
    display: flex;
    gap: 15px;
    
   }
   
   .footer .footer-six  i:hover{
       color:#1ED760;
       
   }



.footer-btm-00{

    display: flex;
    justify-content: flex-end;
    gap: 5px;
    align-items: center;
    color: #919496;
    font-size: 10px;
    font-family: Helvetica,Arial, sans-serif;

}

.footer-btm-00 a:hover{
    color: #1ED760; 
}

.footer-btm-11 li{
    list-style: none;
    display: inline-block;
    padding: 0px 10px 0px 0px;
    font-size: 12px;
    color: #919496;
}

.footer-btm-11 li:hover{
    color: #1ED760;
    cursor: pointer;
}

.footer-btm-11 {
    align-items: center;
    font-size: 12px;
    display: flex;
    justify-content: end;
    justify-content: space-between;
    color: #919496;
    padding-bottom: 70px;
}

.footer-btm-11 p:hover{
    color: #1ED760;
    cursor: pointer;
}


/*------------------------ footer end ---------------------- */
    